#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "commafeed"
name = "CommaFeed"
description.en = "Personal RSS reader"
description.fr = "Lecteur RSS personnel"

version = "5.11.1~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://www.commafeed.com/"
demo = "https://www.commafeed.com/#/app/category/all"
code = "https://github.com/Athou/commafeed"
fund = "https://www.paypal.com/donate/?business=9CNQHMJG2ZJVY&no_recurring=0&item_name=CommaFeed&currency_code=EUR"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    rename = "commafeed"
    in_subdir = false
    extract = false
    amd64.url = "https://github.com/Athou/commafeed/releases/download/5.11.1/commafeed-5.11.1-h2-linux-x86_64-runner"
    amd64.sha256 = "334983e57775ad1ae3730543e91d3879b0db965e52d62706e58c2d512a49f8ff"
    arm64.url = "https://github.com/Athou/commafeed/releases/download/5.11.1/commafeed-5.11.1-h2-linux-aarch_64-runner"
    arm64.sha256 = "fd83ba73872550f4eb00d30eb22bf37530f0cc434140faedd500afd9b5801613"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "commafeed-\\d+\\.\\d+\\.\\d+-h2-linux-x86_64-runner"
    autoupdate.asset.arm64 = "commafeed-\\d+\\.\\d+\\.\\d+-h2-linux-aarch_64-runner"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.ports]
