#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "commafeed"
name = "CommaFeed"
description.en = "Personal RSS reader"
description.fr = "Lecteur RSS personnel"

version = "6.1.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://www.commafeed.com/"
demo = "https://www.commafeed.com/#/app/category/all"
code = "https://github.com/Athou/commafeed"
fund = "https://www.paypal.com/donate/?business=9CNQHMJG2ZJVY&no_recurring=0&item_name=CommaFeed&currency_code=EUR"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    rename = "commafeed"
    in_subdir = false
    extract = false
    amd64.url = "https://github.com/Athou/commafeed/releases/download/6.1.0/commafeed-6.1.0-h2-linux-x86_64-runner"
    amd64.sha256 = "3f9e8e566309fc1bdca0d0e1fef762ae4f605e5bfb5a1245394de2099e8d5dd7"
    arm64.url = "https://github.com/Athou/commafeed/releases/download/6.1.0/commafeed-6.1.0-h2-linux-aarch_64-runner"
    arm64.sha256 = "ac86e864305f78f51d70a1b25b988008ec0365c88491c2413d4081cae42dbd5d"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "commafeed-\\d+\\.\\d+\\.\\d+-h2-linux-x86_64-runner"
    autoupdate.asset.arm64 = "commafeed-\\d+\\.\\d+\\.\\d+-h2-linux-aarch_64-runner"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.ports]
